.img-fluid {
  width: 100%;
  height: 50%; /* Adjust this value as needed */
  object-fit: cover; /* This will ensure that the aspect ratio of the image is maintained */
  overflow-x: hidden; /* This will prevent horizontal scrolling */
}

/* .img-bg-1 {
  position: relative;
} */

.text-center {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-img{
  height: auto !important;
  width: 70% !important;
  background: transparent !important;
  position: relative !important;
  bottom: 15% !important;
}

.image-row {
  position: relative; /* Allows positioning of inner elements relative to this container */
  width: 100%;
  height: 100%; /* You can adjust this value to your preference */
  background-image: url('../../assets/images/home-bg3.jpeg'); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the whole div */
  background-position: center; /* Centers the background image */
}
.image-text {
  color: white; /* Sets the text color */
  font-size: 1em; /* Adjusts the size of the text */
  padding: 20px; /* Adds spacing around the text */
  text-align: left;
}

/* CSS */
.button-header {
  appearance: none;
  background-color: transparent;
  border: 2px  #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 450;
  line-height: normal;
  margin: 0;
  font-style: "block";
  /* min-height: 60px; */
  min-width: 0;
  outline: none;
  /* padding: 16px 24px; */
  text-align: center;
  text-decoration: none;
  /* transition: all 300ms cubic-bezier(.23, 1, 0.32, 1); */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
  will-change: transform;
}

.button-header:disabled {
  pointer-events: none;
}

/* .button-header:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
} */

.button-header:active {
  box-shadow: none;
  transform: translateY(0);
}

.logo-class {
  height: auto;
  width: 30%;
  background: transparent;
  object-fit: contain;
  margin-right: 20%;
}

.fadein img{
  opacity:1;
  transition: 1s ease;
}

.fadein img:hover{
  opacity:0.5;
  transition: 1s ease;
}

.parallax-scqo {
  /* Full height */
  min-height: 800px;
  position: relative;
}

.parallax-scqo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* The image used */
  background-image: url("../../assets/images/supplychain.jpeg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Add blur */
  /* filter: blur(1px) sepia(100%) hue-rotate(100deg) saturate(400%); */
  /* background-color: rgba(255, 0, 0, 0.5); */

  /* Ensure the content is on top of the blurred background */
  z-index: -1;
}

.parallax-casecat {
  /* Full height */
  min-height: 800px;
  position: relative;
}

.parallax-casecat::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* The image used */
  background-image: url("../../assets/images/casecategorisation.jpeg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Add blur */
  /* filter: blur(1px) sepia(100%) hue-rotate(100deg) saturate(400%); */
  /* background-color: rgba(255, 0, 0, 0.5); */

  /* Ensure the content is on top of the blurred background */
  z-index: -1;
}

.parallax-cqi {
  /* Full height */
  min-height: 800px;
  position: relative;
}

.parallax-cqi::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* The image used */
  background-image: url("../../assets/images/cqibg.jpeg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Add blur */
  /* filter: blur(1px) sepia(100%) hue-rotate(100deg) saturate(400%); */
  /* background-color: rgba(255, 0, 0, 0.5); */

  /* Ensure the content is on top of the blurred background */
  z-index: -1;
}


/* Text color is white */
.text-white {
  color: white;
  text-align: center !important;
  position: relative;
}

.bg-overlay{
  background-color: transparent;
  background-image: linear-gradient(300deg, rgba(0, 40, 66, 0.9) 0%, rgba(0, 16, 26, 0.9) 100%);
}

.bg-overlay-casecat{
  background-color: transparent;
  background-image: linear-gradient(300deg, rgba(66, 0, 34, 0.9) 0%, rgba(23, 0, 27, 0.9)100%);
}

.bg-overlay-cqi{
  background-color: transparent;
  background-image: linear-gradient(300deg, rgba(1, 94, 171, 0.997) 0%, rgba(23, 0, 27, 0.9)100%);
}

.bg-overlay-home{
  background-color: transparent;
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.997) 0%, rgba(61, 61, 61, 0.9)100%);
}

.line {
  content: "";
  display: block;
  width: 100%; /* Adjust as needed */
  height: 1px; /* Adjust as needed */
  background: #000; /* Adjust as needed */
  margin-top: 10px; /* Adjust as needed */
}

.rotated {
  transform: rotateY(0, 1, 0, 30deg);
  background-color: transparent;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-top: 10%;
}

.contact-text {
  text-align: left;
  font-size: x-large;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  word-wrap: break-word;
}

.contact-email {
  text-align: center;
  color: white;
}

.top {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-right: 0.75em;
}

.top:after {
  content: '';
	display: inline-block;
  margin-top: 1.4em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem
}

@media (min-width:768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
      content: "";
      display: block;
      border-top: .25rem dotted #3b82f6;
      width: 3.46rem;
      position: absolute;
      left: 7.5rem;
      top: .3125rem
  }
  .timeline-steps .timeline-step:not(:first-child):before {
      content: "";
      display: block;
      border-top: .25rem dotted #3b82f6;
      width: 3.8125rem;
      position: absolute;
      right: 7.5rem;
      top: .3125rem
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #3b82f6;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: .5
}

.career-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

/* a {
  display: inline-block;
  border-radius: 50%;
}

a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
  border: 0.5em solid #e74c3c;
}

a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
  border-top: 0.5em solid #e74c3c;
  border-right: 0.5em solid #e74c3c;
} */

.row-connect {
  display: flex;
  justify-content: center;
}
