<!-- Create Home page layout for portfolio website -->
<div class="container " style="max-width: 100%; padding: 0px; overflow-x: hidden;">
  <!-- About me -->
  <div class="image-row bg-overlay-home">

    <div #home style="position: relative; z-index: 9999;">
      <div class="row" style="top: 15%;">
        <!-- On the image add few buttons -->
        <div class="text-right" style="padding-top: 5%; padding-right: 30%;">
          <button type="button" (click)="scrollToDiv('home')" class="button-header btn-sm" style="margin-left: 20px;">Home</button>
          <button type="button" (click)="scrollToDiv('skillSet')" class="button-header btn-sm" style="margin-left: 20px;">My Skills</button>
          <button type="button" (click)="scrollToDiv('projects')" class="button-header btn-sm" style="margin-left: 20px;">Projects</button>
          <button type="button" (click)="scrollToDiv('experience')" class="button-header btn-sm" style="margin-left: 20px;">Experience</button>
          <button type="button" (click)="scrollToDiv('letsconnect')" class="button-header btn-sm" style="margin-left: 20px;">Let's Connect</button>
        </div>
      </div>
    </div>

    <div>
      <div class="row" style="">
        <div class="col-md-8" style="padding-top: 10%; padding-left: 20%;">
          <h4 style="text-align: left; color: white;">
            <span>
              Hi There! I'm
            </span>
          </h4>
          <h1 style="text-align: left">
            <strong style="color: rgb(255, 255, 255);">Vishwas K H,</strong>
          </h1>
          <h1 style="text-align: left">
            <strong style="color: rgb(255, 255, 255);">a Senior Software Engineer</strong>
          </h1>
          <h1 style="text-align: left">
            <strong style="color: rgb(255, 255, 255);"> &#64; Cisco, India</strong>
          </h1>
          <span style="color: rgb(255, 255, 255); font-weight: 100;">
            Building scalable and reliable software solutions for the modern web.<br>
            Shaping the future by creating smarter solutions using cutting edge technologies.<br>
          </span>
        </div>

        <div class="col-md-4" style="padding: 0%;">
          <img class="my-img" src="../../assets/images/my_pic_cropped.png" alt="MyPic">
        </div>

      </div>
    </div>
  </div>

  <!-- Skillset -->
  <div #skillSet style="background-color:ghostwhite; padding-bottom: 5%;">
    <div class="row" style="padding-top: 2%;">
      <div class="col-md-12">
        <h1 style="text-align: center; color: black;">
          <strong>Skillset</strong>
        </h1>
      </div>
    </div>
    <!-- Display Icons -->
    <div class="row" style="margin-top: 5%;">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2" style="margin-right: 5%;"></div>
          <div class="col-md-2 fadein">
            <a href="https://angular.io/" target="_blank">
              <img src="../../assets/images/icons/angular.png" class="logo-class" alt="Angular" title="Angular">
            </a>
          </div>
          <div class="col-md-2 fadein" target="_blank">
            <a href="#">
              <img src="../../assets/images/icons/html.png" class="logo-class" alt="HTML5" title="HTML5">
            </a>
          </div>
          <div class="col-md-2 fadein" target="_blank">
            <img src="../../assets/images/icons/css.png" class="logo-class" alt="CSS3" title="CSS3">
          </div>
          <div class="col-md-2 fadein" target="_blank">
            <a href="https://www.typescriptlang.org/">
              <img src="../../assets/images/icons/typescript.png" class="logo-class" alt="TypeScript" title="TypeScript">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5%;">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2" style="margin-right: 5%;"></div>
          <div class="col-md-2 fadein">
            <a href="https://www.java.com/en/" target="_blank">
              <img src="../../assets/images/icons/java.png" class="logo-class" alt="Java" title="Java">
            </a>
          </div>
          <div class="col-md-2 fadein">
            <a href="https://spring.io/" target="_blank">
              <img src="../../assets/images/icons/spring.png" class="logo-class"  alt="spring" title="spring">
            </a>
          </div>
          <div class="col-md-2 fadein">
            <a href="https://www.mysql.com/" target="_blank">
              <img src="../../assets/images/icons/sql.png" class="logo-class" alt="SQL" title="SQL">
            </a>
          </div>
          <div class="col-md-2 fadein">
            <a href="https://kafka.apache.org/" target="_blank">
              <img src="../../assets/images/icons/kafka.png" class="logo-class" alt="kafka" title="kafka">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5%;">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2" style="margin-right: 5%;"></div>
          <div class="col-md-2 fadein">
            <a href="https://www.python.org/" target="_blank">
              <img src="../../assets/images/icons/python.png" class="logo-class" alt="python" title="python">
            </a>
          </div>
          <div class="col-md-2 fadein" >
            <img src="../../assets/images/icons/datascience.png" class="logo-class" alt="datascience" title="datascience">
          </div>
          <div class="col-md-2 fadein">
            <a href="https://www.docker.com/" target="_blank">
              <img src="../../assets/images/icons/docker.png" class="logo-class" alt="docker" title="docker">
            </a>
          </div>
          <div class="col-md-2 fadein">
            <a href="https://www.elastic.co/elastic-stack" target="_blank">
              <img src="../../assets/images/icons/elk.svg" class="logo-class fadein"  alt="elk" title="elk">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SCQO -->

  <div #projects class="parallax-scqo text-white bg-overlay">
    <!-- Div for project SCQO -->
    <div class="row" style="padding-top: 5%;">
      <div class="col-md-12">
        <h1 style="text-align: center; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: 200;">
          <strong>Supply Chain Quality Orchestration</strong>
        </h1>
      </div>
    </div>

    <div class="row" style="padding-top: 2%;">
      <div class="col-md-12 text-center" style="font-weight: 100;">
        <span> Here is some of my work in improving <b>Supply Chain Quality</b> I've worked on. </span>
      </div>
    </div>

    <div class="row" style="padding-top: 5%;">
      <div class="col-md-6 text-left" style="padding-left: 10%;">
        <span>Project</span>
        <!-- Line -->
        <hr style="opacity: 1; width: 80%;">

        <div>
          <span>
            <b>SCQO Platform  :</b>  SCQO is an advanced workflow-centric platform designed to streamline and enhance the management and orchestration of product quality concerns across field and factory environments.
          </span>
        </div>

        <div style="padding-top: 5%; font-size: smaller; font-weight: 100;">
          <span>
            SCQO provides real-time insights into quality metrics, allowing teams to pinpoint issues early and address them before they escalate. The tool fosters clear and timely communication among stakeholders, facilitating a collaborative approach to problem-solving and decision-making. With its ability to collect and analyze quality-related data, SCQO enables organizations to make informed decisions based on accurate and up-to-date information.
          </span>
        </div>


      </div>

      <div class="col-md-6 rotated">
        <img class="rotated" src="../../assets/images/scqohomerotatey.png" style="height: auto; width: 80%; background: transparent; position: relative; bottom: 0%; right: 0%;" alt="SCQO">
      </div>
    </div>

  </div>

  <!-- Case Categorisation -->

  <div class="parallax-casecat text-white bg-overlay-casecat">
    <!-- Div for project Case Categorisation -->
    <div class="row" style="padding-top: 5%;">
      <div class="col-md-12">
        <h1 style="text-align: center; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: 200;">
          <strong>Case Categorisation</strong>
        </h1>
      </div>
    </div>

    <div class="row" style="padding-top: 2%;">
      <div class="col-md-12 text-center" style="font-weight: 100;">
        <span> Here is a case study on improving <b>Incident Handling</b> using data science and machine learning. </span>
      </div>
    </div>

    <div class="row" style="padding-top: 5%;">
      <div class="col-md-6 text-left" style="padding-left: 10%;">
        <span>Case Study</span>
        <!-- Line -->
        <hr style="opacity: 1; width: 80%;">

        <div>
          <span>
            <b>Case Categorisation  :</b>  Leverage machine learning and data science to transform incident reports into actionable insights through predictive categorization and trend analysis.
          </span>
        </div>

        <div style="padding-top: 5%; font-size: smaller; font-weight: 100;">
          <span>
            Utilizing advanced NLP tools like BERT for deep contextual understanding and LDA for topic modeling, we've enhanced incident report analysis to enable precise categorization, uncover underlying themes, and predict future trends with higher accuracy and granularity. this use case significantly improves decision-making through real-time, nuanced categorization of incidents, accelerates response times, and proactively shapes strategies by identifying patterns and predicting emerging issues within large datasets.
          </span>
        </div>


      </div>

      <div class="col-md-6 rotated">
        <img class="rotated" src="../../assets/images/smartmockups_casecat.jpeg" style="height: auto; width: 80%; background: transparent; position: relative; bottom: 0%; right: 0%;" alt="SCQO">
      </div>
    </div>
  </div>

  <!-- CQI -->

  <div class="parallax-cqi text-white bg-overlay-cqi">
    <!-- Div for project Case Categorisation -->
    <div class="row" style="padding-top: 5%;">
      <div class="col-md-12">
        <h1 style="text-align: center; color: white; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight: 200;">
          <strong>Connected Quality Insights</strong>
        </h1>
      </div>
    </div>

    <div class="row" style="padding-top: 2%;">
      <div class="col-md-12 text-center" style="font-weight: 100;">
        <span> Here is a dashboard about <b>Quality Insights</b> across multiple product lines and metrics </span>
      </div>
    </div>

    <div class="row" style="padding-top: 5%;">
      <div class="col-md-6 text-left" style="padding-left: 10%;">
        <span>Case Study</span>
        <!-- Line -->
        <hr style="opacity: 1; width: 80%;">

        <div>
          <span>
            <b>CQI  :</b> CQI provides an integrated dashboard solution for real-time quality insights, enhancing visibility and performance across all business units and entities.
          </span>
        </div>

        <div style="padding-top: 5%; font-size: smaller; font-weight: 100;">
          <span>
            The CQI (Continuous Quality Improvement) dashboard is a sophisticated analytics platform designed to aggregate, visualize, and manage quality metrics from across various business units and entities within an organization. This tool serves as a central hub for quality assurance, offering detailed and high-level views tailored to the needs of different stakeholders. Configurable notifications for when quality metrics fall outside of acceptable ranges or thresholds.
            Utilization of historical data to forecast potential quality issues before they arise.
          </span>
        </div>


      </div>

      <div class="col-md-6 rotated">
        <img class="rotated" src="../../assets/images/cqimockup.jpeg" style="height: auto; width: 80%; background: transparent; position: relative; bottom: 0%; right: 0%;" alt="CQI">
      </div>
    </div>
  </div>

  <!-- Work Experience -->
  <div #experience class="row" style="padding-top: 5%; padding-bottom: 5%; background-color: rgb(255, 255, 240);">
    <div class="career-header" style="padding-bottom: 2%;">
      <h1 class="text-center">Experience</h1>
    </div>

    <div class="col">
      <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
          <div class="timeline-step">
              <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2003">
                  <div class="inner-circle"></div>
                  <p class="h6 mt-3 mb-1">2021, January</p>
                  <p class="h6 text-muted mb-0 mb-lg-0">Software Engineering Intern &#64; Cisco </p>
              </div>
          </div>
          <div class="timeline-step">
              <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2004">
                  <div class="inner-circle"></div>
                  <p class="h6 mt-3 mb-1">2022, August</p>
                  <p class="h6 text-muted mb-0 mb-lg-0">Software Engineer &#64; Cisco </p>
              </div>
          </div>
          <div class="timeline-step">
              <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2005">
                  <div class="inner-circle"></div>
                  <p class="h6 mt-3 mb-1">2023, August</p>
                  <p class="h6 text-muted mb-0 mb-lg-0">Software Engineer 2 &#64; Cisco </p>
              </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title="" data-content="And here's some amazing content. It's very engaging. Right?" data-original-title="2010">
                <div class="inner-circle"></div>
                <p class="h6 mt-3 mb-1">Now</p>
                <p class="h6 text-muted mb-0 mb-lg-0">Senior Software Engineer &#64; Cisco </p>
            </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Footer -->
  <div #letsconnect>

    <div class="row contact-row" style="background-color: black; padding-top: 5%;">
      <div class="col-md-3 contact-text" style="margin-left: 10%;">
        <span>Feel free to hit me up. I'm looking forward to hearing from you.</span>
      </div>
      <div class="col-md-4 contact-email text-left" style="font-family:Arial, Helvetica, sans-serif; font-size: x-large; font-weight: 200;">
        <span>Reach me at <br>
          <span class="email-font" style="font-family: 'Courier New', Courier, monospace;">vishwasravali&#64;gmail.com</span>
        </span>
      </div>
    </div>


    <div class="row" style="background-color: black; padding-top: 2%;">
      <div class="col-md-4"></div>
      <div class="col-md-1" >
        <img src="../../assets/images/icons/linkedin.png" class="logo-class clickable-image" alt="LinkedIn" title="Linked In" (click)="redirect('linkedin')">
      </div>
      <div class="col-md-1">
        <img src="../../assets/images/icons/github.png" class="logo-class clickable-image" alt="Github" title="Github" (click)="redirect('github')">
      </div>
      <div class="col-md-1">
        <img src="../../assets/images/icons/google.png" class="logo-class clickable-image" alt="Google" title="Google" (click)="redirect('mail')">
      </div>
      <!-- <div class="col-md-1">
        <img src="../../assets/images/icons/discord.png" class="logo-class" alt="Discord" title="Discord" (click)="redirect('discord')">
      </div> -->
      <!-- <div class="col-md-1">
        <img src="../../assets/images/icons/instagram.png" class="logo-class" alt="insta" title="insta" (click)="redirect('insta')">
      </div> -->
      <div class="col-md-1">
        <img src="../../assets/images/icons/twitter.png" class="logo-class clickable-image" alt="twitter" title="twitter" (click)="redirect('twitter')">
      </div>
      <div class="col-md-4"></div>
    </div>


    <!-- <div class="row" style="background-color: black; padding-top: 1%; padding-bottom: 5%; top: 15%;">
      <div class="col-md-5"></div>
      <div class="col-md-4">
        <div class="text-left" style="padding-top: 2%;">
          <button type="button" (click)="scrollToDiv('home')" class="button-header btn-sm" style="margin-left: 20px;">Home</button>
          <button type="button" (click)="scrollToDiv('skillSet')" class="button-header btn-sm" style="margin-left: 20px;">My Skills</button>
          <button type="button" (click)="scrollToDiv('projects')" class="button-header btn-sm" style="margin-left: 20px;">Projects</button>
          <button type="button" (click)="scrollToDiv('experience')" class="button-header btn-sm" style="margin-left: 20px;">Experience</button>
          <button type="button" (click)="scrollToDiv('letsconnect')" class="button-header btn-sm" style="margin-left: 20px;">Let's Connect</button>
        </div>
      </div>
    </div> -->

    <div class="row" style="background-color: black; padding-top: 1%; padding-bottom: 5%; top: 15%;">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="text-left" style="padding-top: 2%; padding-left: 5%;">
          <button type="button" (click)="scrollToDiv('home')" class="button-header btn-sm">Home</button>
          <button type="button" (click)="scrollToDiv('skillSet')" class="button-header btn-sm" style="margin-left: 40px;">My Skills</button>
          <button type="button" (click)="scrollToDiv('projects')" class="button-header btn-sm" style="margin-left: 40px;">Projects</button>
          <button type="button" (click)="scrollToDiv('experience')" class="button-header btn-sm" style="margin-left: 40px;">Experience</button>
          <button type="button" (click)="scrollToDiv('letsconnect')" class="button-header btn-sm" style="margin-left: 40px;">Let's Connect</button>
        </div>
      </div>
    </div>

  </div>

</div>
